#ignore files created by python env or pip install
__pycache__
main.py
.cache
.pytest_cache
.coverage
*.egg-info
build
dist
*.pyc

#ignoring files that are needed for runtime but not for installation
.log
*.log
.data
*.data
*.block
*.tx